$green: #42b549;

.badge-recommendation {
  color: $green;
  background-color: #effaf3;
  margin-top: 4px;
  font-weight: 600;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

$font-sizes: 10px, 10px, 14px;

@each $size in $font-sizes{
  .fs-#{$size}{
    font-size: $size;
    line-height: 18px;
  }

}
